<h3>Formulários no Angular</h3>

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div>
    <label class="form-label" for="name">Nome:</label>
    <input class="form-control" id="name" type="text" formControlName="name">
  </div>

  <div>
    <label class="form-label" for="age">Idade:</label>
    <input class="form-control" type="number" id="age" name="age" min="1" max="99" formControlName="age">
  </div>

  <div>
    <label for="type" class="form-check-label">Tipo de Pessoa:</label>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="type" id="type" formControlName="type" [value]="1">
      <label for="" class="form-check-label">
        Pessoa Física
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="type" id="type" formControlName="type" [value]="2">Pessoa
      <label for="" class="form-check-label">
        Jurídica
      </label>
    </div>
  </div>

  <div>
    <label for="country">País</label>
    <select class="form-select" id="country" name="country" formControlName="country">
      <option value="0">Selecione o país</option>
      <option [value]="country.id" *ngFor="let country of countries">
        {{ country.name }}
      </option>
    </select>
  </div>

  <button class="btn btn-primary" type="submit">Cadastrar</button>
</form>

<button class="btn btn-primary" (click)="clearLocalStorage()">Limpar LocalStorage</button>
