<h3>Formulários no Angular</h3>

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Nome:</label>
    <input id="name" type="text" formControlName="name">
  </div>

  <div>
    <label for="age">Idade:</label>
    <input type="number" id="age" name="age" min="1" max="99" formControlName="age">
  </div>

  <div>
    <label for="type">Tipo:</label>
    <input type="radio" name="type" id="type" formControlName="type" [value]="1">Pessoa Física &nbsp;&nbsp;
    <input type="radio" name="type" id="type" formControlName="type" [value]="2">Pessoa Jurídica
  </div>

  <div>
    <label for="country">País</label>
    <select id="country" name="country" formControlName="country">
      <option value="0">Selecione o país</option>
      <option [value]="country.id" *ngFor="let country of countries">
        {{ country.name }}
      </option>
    </select>
  </div>

  <button class="button" type="submit">Cadastrar</button>
</form>
